<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586899717746-n8maruddrjlberbnsl2um4ic4l4ns6ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586899717746-n8maruddrjlberbnsl2um4ic4l4ns6ec</string>
	<key>API_KEY</key>
	<string>AIzaSyDkv7gb-SP5-VscaWk8K6ND55HJdmGAIus</string>
	<key>GCM_SENDER_ID</key>
	<string>586899717746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventory.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>inventory-95846</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-95846.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586899717746:ios:fbe971d7f66a7b24b88ceb</string>
</dict>
</plist>